<p style="color: green"><%= notice %></p>
<h1>VoiceHistories</h1>

<div id="voice_histories">
  <table>
    <tr>
      <th>ID</th>
      <th>履歴</th>
      <th>対応声別</th>
      <th>呼び出し回数</th>
    </tr>
    <% @voice_histories.each do |vh| %>
      <tr>
        <td><span class="id"><%= vh.id %></span></td>
        <td><span class="matching"><%= link_to "#{vh.matching}", vh %></span></td>
        <td><span class="actor"><%= link_to "#{vh.voice_actor.name}", vh.voice_actor %></span></td>
        <td><span class="count"><%= "#{vh.count}" %></span></td>
        <td><span class="destroy"><%= button_to("削除", voice_history_path(vh),method: :delete) %></span></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "New extra_voice", new_extra_voice_path %>
